html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details,
figcaption, figure, footer,
header, hgroup, menu,
nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, svg {
  max-width: 100%;
  height: auto;
}

button, a {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  border: 0 none;
  outline: 0;
  color: inherit;
}
button:focus, a:focus {
  outline: none;
}
button:hover, a:hover {
  color: inherit;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter-SemiBold"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: local("Arial Regular"), local("Arial-Regular"), url("../fonts/ArialMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: local("Arial Bold"), local("Arial-Bold"), url("../fonts/Arial-BoldMT.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato SemiBold"), local("Lato-SemiBold"), url("../fonts/Lato-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial";
  font-weight: 400;
  line-height: 1.2;
  color: #424242;
  font-size: 20px;
  background-color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.block-title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 46px;
  text-align: center;
}
.block-title--blue {
  color: #005EB8;
}
.block-title--white {
  color: #ffffff;
}
.block-title sup {
  font-size: 30px;
}

.bttn {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  padding: 18.5px 38.5px;
  border-radius: 40px;
  border: 3px solid #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.bttn:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.bttn--line-balance {
  color: #005eb8;
  background-color: #fff;
}
.bttn--line-balance:hover {
  color: #ffffff;
  background-color: transparent;
}
.bttn--line-up {
  color: #43B02A;
  background-color: #fff;
}
.bttn--line-up:hover {
  color: #ffffff;
  background-color: transparent;
}
.bttn--line-down {
  color: #ED8B00;
  background-color: #fff;
}
.bttn--line-down:hover {
  color: #ffffff;
  background-color: transparent;
}
.bttn--line-balance-transparent {
  color: #ffffff;
  background-color: transparent;
}
.bttn--line-balance-transparent:hover {
  color: #005eb8;
  background-color: #fff;
}
.bttn--line-up-transparent {
  color: #ffffff;
  background-color: transparent;
}
.bttn--line-up-transparent:hover {
  color: #43B02A;
  background-color: #fff;
}
.bttn--line-down-transparent {
  color: #ffffff;
  background-color: transparent;
}
.bttn--line-down-transparent:hover {
  color: #ED8B00;
  background-color: #fff;
}
.bttn--problem {
  border-color: #005eb8;
  color: #005eb8;
}
.bttn--problem:hover {
  color: #ffffff;
  background-color: #005eb8;
}
.bttn--b-intro-white {
  padding: 18.5px 66.5px;
  color: #005eb8;
  background-color: #fff;
}
.bttn--b-intro-white:hover {
  color: #ffffff;
  background-color: transparent;
}
.bttn--b-intro-transparent {
  padding: 18.5px 74.5px;
  color: #ffffff;
  background-color: transparent;
}
.bttn--b-intro-transparent:hover {
  color: #005eb8;
  background-color: #fff;
}
.bttn--recomm-blue {
  border: 3px solid #005EB8;
  padding: 18.5px 96.5px;
  color: #ffffff;
  background-color: #005EB8;
}
.bttn--recomm-blue:hover {
  color: #005eb8;
  background-color: #fff;
}
.bttn--recomm-transparent {
  border: 3px solid #005EB8;
  padding: 18.5px 74.5px;
  color: #005EB8;
  background-color: transparent;
}
.bttn--recomm-transparent:hover {
  color: #ffffff;
  background-color: #005EB8;
}
.bttn--b-work {
  color: #ffffff;
}
.bttn--b-work:hover {
  color: #005EB8;
  background-color: #fff;
}

.header {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 3;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header-burger {
  margin-right: 44px;
}

.header-nav {
  width: 100%;
  max-width: 987px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.header-nav__link {
  font-family: "Arial";
  font-weight: 400;
  font-style: 20px;
  color: #005EB8;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header-nav__link:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #00B5E2;
}

.intro {
  background-image: url("../img/intro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 242px 0 127px;
  position: relative;
}

.intro-title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 28px;
}
.intro-title span {
  display: block;
  text-transform: uppercase;
}
.intro-title span sup {
  font-size: 38px;
}

.intro-subtitle {
  font-family: "Lato";
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 60px;
}

.intro-advantages {
  width: 100%;
  max-width: 814px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.intro-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro-advantages__item:nth-child(2) .intro-advantages__icon {
  padding: 8px 0;
}

.intro-advantages__icon {
  margin-bottom: 22px;
}

.intro-advantages__text {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.intro-img {
  width: 100%;
  max-width: 919px;
  position: absolute;
  top: 310px;
  right: -115px;
  z-index: 1;
}

.b-intro {
  background-image: url("../img/b-intro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.b-intro__inner {
  padding: 207px 0 45px;
  position: relative;
}

.b-intro-breadcrumbs {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 16px;
}
.b-intro-breadcrumbs a {
  text-decoration: underline;
}

.b-intro-title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 24px;
}

.b-intro-subtitle {
  font-family: "Lato";
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 24px;
}

.b-intro-btns {
  margin-bottom: 24px;
}

.b-intro-bttn + .b-intro-bttn {
  margin-left: 23px;
}

.b-intro-advantages {
  width: 100%;
  max-width: 926px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-intro-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-intro-advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 13px;
}

.b-intro-advantages__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}

.b-intro-img {
  width: 100%;
  max-width: 595px;
  position: absolute;
  bottom: -122px;
  right: 70px;
  z-index: 1;
}

.pos-intro {
  background-image: url("../img/pos-intro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pos-intro__inner {
  padding: 207px 0 60px;
}

.pos-intro-breadcrumbs {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 16px;
}
.pos-intro-breadcrumbs a {
  text-decoration: underline;
}

.pos-intro-title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 16px;
}

.pos-intro-subtitle {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

.blog-intro {
  background-image: url("../img/blog-intro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-intro__inner {
  padding: 207px 0 215px;
}

.blog-intro-breadcrumbs {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 16px;
}
.blog-intro-breadcrumbs a {
  text-decoration: underline;
}

.blog-intro-title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 16px;
}

.blog-intro-subtitle {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

.advantages {
  background-color: #fff;
  padding: 67px 0 96px;
}

.advantages-title {
  margin-bottom: 77px;
}
.advantages-title--balance {
  text-align: left;
}

.advantages__inner {
  width: 100%;
  max-width: 1446px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-item {
  width: 100%;
  max-width: calc((100% - 440px) / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-item__icon {
  margin-bottom: 25px;
}

.advantages-item__text {
  font-family: "Arial";
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.quiz {
  background-image: url("../img/quiz-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 120px;
}

.quiz-title {
  margin-bottom: 24px;
}

.quiz-step, .quiz-question {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.quiz__inner {
  width: 100%;
  max-width: 1004px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 68px auto 0;
}

.quiz-item {
  width: 100%;
  max-width: 203px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 3px transparent solid;
  border-radius: 30px;
  cursor: pointer;
  padding: 15px 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.quiz-item:hover {
  border: 3px #4cc6e4 solid;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.quiz-item:nth-child(5) .quiz-item__icon {
  max-width: 64px;
  margin: 48px 0;
}

.quiz-item__icon {
  width: 100%;
  max-width: 160px;
}

.quiz-item__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

.work {
  background-image: url("../img/how-it-works-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 93px 0 130px;
}

.work-title {
  margin-bottom: 16px;
}

.work-subtitle {
  font-family: "Lato";
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 83px;
  margin: 0 auto;
}

.work-item {
  position: relative;
  margin-bottom: 115px;
}
.work-item:nth-of-type(1)::after {
  content: "";
  display: block;
  width: 48px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 15px;
  right: -68px;
  z-index: 1;
}
.work-item:nth-of-type(3)::after {
  content: "";
  display: block;
  width: 48px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 15px;
  left: -68px;
  right: 0;
  z-index: 1;
}
.work-item:nth-of-type(3) .work-item__text {
  text-align: left;
}

.work-item__num {
  font-family: "Lato";
  font-weight: 900;
  font-size: 180px;
  color: #ffffff;
  opacity: 0.2;
  position: absolute;
  left: 50%;
  top: calc(50% - 10px);
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.work-item__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: right;
  color: #ffffff;
}

.work-control-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-top: -60px;
  margin-left: 18px;
}

.work-control-panel__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #ffffff;
}
.work-control-panel__text:nth-child(3) {
  text-align: left;
}

.work-control-panel-btns {
  width: 100%;
  max-width: 320px;
  height: 87px;
  position: relative;
  background-color: #fff;
  border-radius: 60px;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
}
.work-control-panel-btns::after {
  content: "";
  display: block;
  width: 224px;
  height: 1px;
  background-color: #dedbdb;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.work-control-panel-btns__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.work-control-panel-btns__item {
  padding: 24px 16px;
  border: 5px solid transparent;
  border-radius: 60px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.work-control-panel-btns__item:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-color: #005EB8;
}
.work-control-panel-btns__item span {
  display: block;
  width: 8px;
  border-radius: 30px;
}
.work-control-panel-btns__item:nth-child(1) span {
  height: 26.21px;
  background-color: #ED8B00;
}
.work-control-panel-btns__item:nth-child(2) span {
  height: 39.31px;
  background: -webkit-gradient(linear, left top, left bottom, from(#005EB8), color-stop(51.5%, #ed5500), to(#ED8B00));
  background: linear-gradient(180deg, #005EB8 0%, #ed5500 51.5%, #ED8B00 100%);
}
.work-control-panel-btns__item:nth-child(3) span {
  height: 52.41px;
  background: -webkit-gradient(linear, left top, left bottom, from(#005EB8), to(rgb(0, 181, 226)));
  background: linear-gradient(180deg, #005EB8, rgb(0, 181, 226) 100%);
}
.work-control-panel-btns__item:nth-child(4) span {
  height: 39.31px;
  background: -webkit-gradient(linear, left top, left bottom, from(#005EB8), to(#43B02A));
  background: linear-gradient(180deg, #005EB8 0%, #43B02A 100%);
}
.work-control-panel-btns__item:nth-child(5) span {
  height: 26.21px;
  background: #43B02A;
}

.line {
  padding: 90px 0 55px;
}

.line-title {
  text-align: left;
  margin-bottom: 55px;
}

.line__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 145px;
}

.line-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.line-item--balance .line-item__main-bg, .line-item--balance .line-item__bg {
  background-color: #00B5E2;
}
.line-item--balance .line-item__img {
  max-width: 522px;
  right: -270px;
  top: -88px;
}
.line-item--up .line-item__main-bg {
  padding-left: 478px;
}
.line-item--up .line-item__main-bg, .line-item--up .line-item__bg {
  background-color: #43B02A;
}
.line-item--up .line-item__img {
  max-width: 601px;
  left: -47px;
  top: -96px;
}
.line-item--down .line-item__main-bg, .line-item--down .line-item__bg {
  background-color: #ED8B00;
}
.line-item--down .line-item__img {
  max-width: 598px;
  right: -307px;
  top: -96px;
}

.line-item__main-bg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 50px 0 50px 75px;
}

.line-item__bg {
  width: 100%;
  max-width: 80px;
}

.line-item__2-bg {
  opacity: 0.8;
}

.line-item__3-bg {
  opacity: 0.6;
}

.line-item__4-bg {
  opacity: 0.4;
}

.line-item__5-bg {
  opacity: 0.2;
}

.line-item__content {
  color: #ffffff;
}

.line-item__suptitle {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.line-item__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
}

.line-item__list {
  margin: 20px 0;
  padding-left: 30px;
  list-style: disc;
}
.line-item__list li {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.line-item__use__title {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
}

.line-item__use__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.line-item__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.line-item__img {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.production {
  background-color: #F7F7F7;
  padding: 50px 0 67px;
}

.production__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
  margin-bottom: 60px;
}

.production-content p {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.production-title {
  text-align: left;
  margin-bottom: 50px;
}

.production-subtitle {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  color: #424242;
}

.production-img {
  width: 100%;
  max-width: 800px;
}

.production-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.production-advantages__item {
  width: 100%;
  max-width: 270px;
}

.production-advantages__icon {
  height: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.production-advantages__text {
  text-align: center;
}

.pos {
  padding: 70px 0 33px;
}

.pos-title {
  text-align: left;
  margin-bottom: 65px;
}

.pos__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.pos-item {
  width: 100%;
  max-width: 250px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.pos-item:hover {
  -webkit-box-shadow: 5px 4px 40px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 5px 4px 40px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.problem {
  background-color: #F7F7F7;
  padding: 60px 0 93px;
}

.problem-title {
  margin-bottom: 58px;
}

.problem__inner {
  width: 100%;
  max-width: 1276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 47px;
}

.problem-item {
  width: 100%;
  max-width: 320px;
  height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}
.problem-item:nth-child(3) {
  text-align: left;
}

.problem-item__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #424242;
}

.problem-solution {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #424242;
  margin-bottom: 50px;
}

.problem-btn {
  text-align: center;
}

.blog-slider {
  padding: 45px 0 76px;
}

.blog-slider__title-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 66px;
}

.blog-slider__blog-link {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-decoration: underline;
  color: #005EB8;
}

.blog-slider__inner {
  position: relative;
}

.blog-slider__slider {
  margin: 0 60px;
}
.blog-slider__slider .blog-slider__text {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  color: #005EB8;
}
.blog-slider__slider .swiper-slide img {
  margin-bottom: 24px;
}

.blog-slider__slider-nav {
  width: 100%;
  position: absolute;
  top: 43%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.swiper-button-prev, .swiper-button-next {
  width: 100%;
  max-width: 38px;
}
.swiper-button-prev:after, .swiper-button-next:after {
  content: "";
}

.recomm-top {
  background-color: #00b5e2;
}

.recomm-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 83px 0 115px 484px;
}

.recomm-top__item {
  width: 100%;
  max-width: 480px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}
.recomm-top__item span {
  font-weight: 600;
  font-size: 24px;
}
.recomm-top__item:nth-child(2) span {
  display: block;
}

.recomm-top__img {
  width: 100%;
  max-width: 565px;
  position: absolute;
  top: -64px;
  left: -60px;
  z-index: 1;
}

.recomm-bot__inner {
  padding: 41px 0 85px 484px;
}

.recomm-bot-btns {
  margin-bottom: 34px;
}

.recomm-bttn + .recomm-bttn {
  margin-left: 64px;
}

.recomm-bot-notice {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}

.b-work {
  padding: 93px 0 110px;
  background-image: url("../img/b-work-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.b-work-title {
  margin-bottom: 67px;
}

.b-work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-work-item {
  width: 100%;
  max-width: 480px;
  position: relative;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: right;
  color: #ffffff;
}
.b-work-item:nth-child(3) {
  text-align: left;
}

.b-work-item__num {
  font-family: "Lato";
  font-weight: 900;
  font-size: 180px;
  color: #ffffff;
  text-align: center;
  opacity: 0.2;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.b-work-item__link {
  margin-top: 30px;
  text-decoration: underline;
}

.b-work-item__img {
  width: 100%;
  max-width: 645px;
}

.b-work__btn-inner {
  text-align: center;
}

.components {
  padding: 80px 0 95px;
}

.components__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.components-item {
  width: 100%;
  max-width: 720px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #424242;
}

.blog {
  padding: 0 0 56px;
}

.blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -184px -53px -20px;
}

.blog-item {
  width: 100%;
  max-width: 320px;
  margin: 20px 53px;
}

.blog-item__img {
  margin-bottom: 24px;
}

.blog-item__text {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  color: #005EB8;
}

.footer {
  background-color: #00b5e2;
  padding: 40px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  width: 100%;
  max-width: 233px;
}

.footer-nav {
  width: 100%;
  max-width: 978px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav__item {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer-nav__item:hover {
  color: #ffffff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.subfooter {
  padding: 42px 0 88px;
}

.subfooter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subfooter-copy {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}

.subfooter-links a {
  display: block;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-decoration: underline;
  text-align: center;
  color: #00b5e2;
}

.subfooter-author {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: right;
  color: #424242;
}
.subfooter-author a {
  color: #fe045e;
}/*# sourceMappingURL=style.css.map */