.components {
    padding: 80px 0 95px;
}
.components__inner {
    display: flex;
    justify-content: space-between;
}
.components-item {
    width: 100%;
    max-width: 720px;
    font-family: "Arial";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $text;
}