.intro {
    background-image: url('../../img/intro-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro__inner {
    display: flex;
    flex-direction: column;
    padding: 242px 0 127px;
    position: relative;
}
.intro-title {
    font-family: "Lato";
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    color: $white_text;
    margin-bottom: 28px;
    & span {
        display: block;
        text-transform: uppercase;
        & sup {
            font-size: 38px;
        }
    }
}
.intro-subtitle {
    font-family: "Lato";
    font-weight: 600;
    font-size: 36px;
    color: $white_text;
    margin-bottom: 60px;
}
.intro-advantages {
    width: 100%;
    max-width: 814px;
    display: flex;
    justify-content: space-between;
    color: $white_text;
}
.intro-advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &:nth-child(2) {
        .intro-advantages__icon {
            padding: 8px 0;
        }
    }
}
.intro-advantages__icon {
    margin-bottom: 22px;
}
.intro-advantages__text {
    font-family: "Lato";
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.intro-img {
    width: 100%;
    max-width: 919px;
    position: absolute;
    top: 310px;
    right: -115px;
    z-index: 1;
}